.lendStud
{
	top: 280px;
	
	margin-right: 70px;
	background-color: rgba(253,172,138,0.8);
	width: 960px;
	position: absolute;
	
	display: inline-block;
	left: 80px;
}
#lendStud1
{
	left: 1215px;
	position: absolute;


}
.lendeMung
{
	margin: 20px;
	margin-left: 38px;
	padding: 20px;
	width:840px;
	border: 1px solid orange;
	height:200px;
	position: relative;
}
.lendeMung1
{
	margin: 20px;
	padding: 20px;
	width:420px;
	border: 1px solid orange;
	height:200px;
	position: relative;
}
p.emLende, .lendeMung1 p#emLende
{
	font-size: 25px;
	color: red;
	text-align: center;
}
#infoLenda
{
	margin-top: 14px;
}
span
{
	text-align: center;
	margin-right:  95px;
	margin-left: 100px;

	position: relative;
}
#dJava
{
	font-size: 20px;
	font-family: "Times New Roman";
}